@import url("cssreset.css");

@font-face {
    font-family: "Lovelo";
    src:
      local("Lovelo-Black"),
      url("fonts/Lovelo-Black.ttf") format("ttf");
}

@font-face {
    font-family: "Montserrat-Medium";
    src:
      local("Montserrat-Medium"),
      url("fonts/Montserrat-Medium.ttf") format("ttf");
}

@font-face {
    font-family: "Montserrat-Regular";
    src:
      local("Montserrat-Regular"),
      url("fonts/Montserrat-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src:
      local("Montserrat-SemiBold"),
      url("fonts/Montserrat-SemiBold.ttf") format("ttf");
}

@font-face {
    font-family: 'HelveticaFontBold';
    src: local('Helvetica');
    font-weight: 600;
}

@font-face {
    font-family: 'tertiaryFontBold';
    src: local('Arial');
    font-weight: 600;
}

:root {
    --white: #F4F4F4;
    --blackBackground: rgba(40,40,40,0.5);
    --whiteBackground: rgba(160,160,160,0.25);
    --colorful: rgba(231,76,60,1);
    --borderRadius: 4px;
}

*, li, p {
    color: var(--white);
    font-family: "Montserrat-Regular", Arial, sans-serif;
}

body {
    background-image: url("images/movies_background.webp");
}

h1 {
    font-family: Lovelo, Arial, sans-serif;
    text-align: center;
    margin: 2rem 0 1rem 0;
    font-size: 2rem;
}

h2 {
    font-size: 1.25rem;
    font-family: "Montserrat-SemiBold", Arial, sans-serif;
    margin: 0.5rem 0;
}

h3 {
    font-size: 1.5rem;
    font-family: "Lovelo";
    margin: 0 0 1rem 0;
}

p {
    margin: 0.5rem 0;
}

strong {
    font-family: "Montserrat-SemiBold", Arial, sans-serif;
}

.hide {
    display: none !important;
}

/* MENU */

nav {
    background-color: var(--blackBackground);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul {
    display: flex;
    column-gap: 1rem;
}

nav ul#topMenu {
    justify-content: space-between;
}

nav ul#mainMenu {
    justify-content: flex-end;
}

nav ul li {
    align-content: center;
    margin: 1rem 0;
}

.logoImage {
    width: 100%;
}

/* .logoImage img {
    margin: 1rem;
} */

nav ul li a {
    display: inline-block;
    padding: 1rem;
    font-size: 1.25rem;
}

nav ul li a:hover {
    color: var(--colorful);
}

a.linkMoviePicker {
    color: var(--white);
    background-color: var(--colorful);
    border-radius: var(--borderRadius);
}

a.linkMoviePicker:hover {
    background-color: var(--blackBackground);
    color: var(--colorful);
}

.icon a i {
    font-size: inherit;
    display: inline-block;
}

@media only screen and (min-width: 769px) {
    
    li.icon {
        display: none;
    }

    .logoImage {
        width: 75%;
    }

}

@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    nav ul#mainMenu {
        flex-direction: column;
    }

    nav ul#mainMenu {
        text-align: right;
        display: none;
    }
}

/* HOME PAGE */

.btMoviePicker {
    background-color: var(--colorful);
    margin: 0 auto;
    padding: 1rem;
    border-radius: var(--borderRadius);
}

main.home p, main.home h2 {
    text-align: center;
}

h2 .btMoviePicker {
    text-decoration: none;
    margin: 2rem auto;
    display: inline-block;
}

.btMoviePicker:hover {
    color: var(--colorful);
    background-color: var(--blackBackground);
}

/* MOVIE PICKER */

#moviePicker {
    background-color: var(--blackBackground);
    min-height: 100vh;
}

#moviePickerForm {
    min-width: 60%;
    max-width: 100%;
    padding-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Form Buttons, Input and Questions */
section.question label, section.question p:first-child, .btNext, #btSendMovieForm {
    font-family: "Montserrat-Medium", Arial, sans-serif;
    padding: 1rem;
    margin: 0.5rem;
    border: 2px solid var(--white);
    border-radius: 4px;
    background-color: var(--blackBackground);
    font-size: 1.25rem;
    display: block;
    width: 100%;
}

section.question p {
    margin: 1rem 0;
}

input[type="radio"], input[type="checkbox"] {
    opacity: 0;
    position: fixed; 
    width: 0;
    /* border: 4px solid var(--white); */
}

section.question .checked {
    background-color: var(--colorful);
}

/* Back Button */
section.question .btBack {
    border: none;
    background-color: unset;
}

section.question .btBack:hover {
    color: var(--colorful);
}

i {
    color: inherit;
    font-size:inherit;
    margin: 0 0.25rem;
}

/* change button color on hover and when checked */
section.question label:hover, section.question .btNext:hover, label.checked, #btSendMovieForm:hover {
    background-color: var(--colorful);
}

/* MOVIE RECOMMANDATION MODAL */

#movieModal {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100vw;
    /* min-height: 100vh; */
    z-index: 1;
    background-color: var(--blackBackground);
}

#movieModal > section {
    position: relative;
    min-height: 100vh;
    z-index: 2;
    background-color: var(--whiteBackground);
}

@media only screen and (min-width: 1025px) {
    #movieModal > section {
        width: 75%;
        margin: auto;
    }
}

.frame {
    border: 4px solid var(--white);
    border-radius: var(--borderRadius);
    padding: 1rem;
}

.movieColumns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 1rem;
    row-gap: 1rem;
    margin-top: 2rem;
}

.movieColumns div {
    flex: 1 0 auto;
}

.movieColumns section {
    flex: 0 1 auto; 
}

.tagLists {
    margin: 1.5rem 0;
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
}

.tagList ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
}

.tag {
    border: 3px solid var(--colorful);
    border-radius: var(--borderRadius);
    background-color: var(--blackBackground);
    padding: 0.5rem;
    /* margin: 1rem; */

}

.watchLink {
    margin: 1.5rem 0;
    display: flex;
    justify-content: flex-start;
    column-gap: 1rem;
}

.watchLink a {
    font-size: 1.25rem;
    font-family: "Montserrat-Medium";
    padding: 0.5rem;
    margin: 0;
    background-color: var(--colorful);
    border: 3px solid var(--colorful);
    border-radius: var(--borderRadius);
    text-align: center;
    display: inline-block;
}

.watchLink a:hover {
    color: var(--colorful);
    background-color: var(--blackBackground);
    text-decoration: none;
    /* border: 3px solid var(--white); */
}

#closeBt {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#closeBt:hover {
    color: var(--colorful);
}

.noResults {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.noResults p {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
}

#elRestartButton {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* #elRestartButton div {
    text-align: center;
} */

@media only screen and (max-width: 768px) {
    .movieColumns {
        flex-wrap: wrap;
    }

    .movieColumns .tagLists {
        margin-bottom: 0;
    }
}

